[Unit]
Description=Bug-box logshipping application

[Service]
User=root
Type=simple
ExecStart=/bin/bash /opt/bug-box/run-logs.sh
WorkingDirectory=/opt/bug-box

Restart=always

[Install]
WantedBy=multi-user.target